<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>
<body>
{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ path("home") }}>The World Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         {% if active is defined and active == "signin" %}
         <a class="navbar-brand" id="navbar-signup" href={{ path("login_page") }}>Login</a>
         {% elseif active is defined and active == "signedin" %}
         <a class="navbar-brand" id="navbar-Profile" href={{ path("personalpage") }}>Profile</a>
         <a class="navbar-brand" id="navbar-signup" href={{ path("logout") }}>Logout</a>
         {% else %}
         <a class="navbar-brand" id="navbar-signup" href={{ path("user-signup") }}>Signup</a>
         {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>